/* Стили для кнопок */
#color-buttons {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 20px; /* Расстояние от верхнего края */
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Стили для сетки и клеток остаются без изменений */
#grid-container {
    display: grid;
    grid-template-columns: repeat(50, 10px);
    grid-template-rows: repeat(50, 10px);
    gap: 1px;
    border: 1px solid #000;
    margin: 10px;
}

.cell {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: white;
    margin: 0;
    padding: 0;
    float: left; /* Добавляем float для корректного отображения клеток */
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
